[Unit]
Description=Video Face Recognition Recognize Service

[Service]
Type=simple
User=mil
Group=mil
WorkingDirectory=/home/mil/vfr/core
ExecStart=/bin/bash yarn recognize /home/mil/vfr/.data/model.json
Restart=always

[Install]
WantedBy=multi-user.target